{% extends 'base.html' %}

{% block header_class %}
header animate__animated animate__bounceInDown
{% endblock %}

{% block header_text %}
Start a New<br/>
To-Do List
{% endblock %}

{% block content %}

<!-- Display duplicate item warning at the top of the page -->
<div class="warning list" role="alert">
    This name is already taken.
</div>

<!-- Display form -->
<div class="input-form animate__animated animate__zoomIn">
    <form action="{% url 'new_list' %}" method="post" id="list-create-form">
        {{ form.name }}
        {% csrf_token %}
    </form>
</div>

{% endblock %}