{% extends 'base.html' %}

{% block header_class %}
header animate__animated animate__bounceInDown
{% endblock %}

{% block header_text %}
Start a New<br/>
To-Do List
{% endblock %}

{% block content %}

<!-- Display form -->
<div class="input-form animate__animated animate__zoomIn">
    <form action="{% url 'new_list' %}" method="post" id="list-create-form">
        {{ form.name }}
        {% csrf_token %}
    </form>   
</div>

<div class="fail-error-msg">
    A list with this name already exists.
</div> 

<div class="success-error-msg">
    A list with this name is available.
</div> 


{% endblock %}