{% extends 'base.html' %}

{% block header_class %}
header entrance-fade-in
{% endblock %}

{% block header_text %}
Start a New
To-Do List
{% endblock %}

{% block content %}

<!-- Display duplicate item warning at the top of the page -->
{% if form.errors %}
<div class="warning has-error" role="alert">
    {{ form.name.errors }}
</div>
{% endif %}

<!-- Display form -->
<div class="input-form entrance-fade-in">
    <form action="{% url 'new_list' %}" method="post">
        {{ form.name }}
        {% csrf_token %}
    </form>
</div>

{% endblock %}