{% extends 'base.html' %}

{% block header_text %}
Your To-Do List
{% endblock %}

{% block action %}
{% url 'view_list' list.id %}
{% endblock %}

{% block table %}
<div class="todo-list-container">

    {% for item in list.item_set.all %}
    <div class="todo-item">
        {{ forloop.counter }}: {{ item.text }}

        <!-- form to delete todo item -->
        <form method="post" action="{% url 'delete_todo' item.id %}" class="bin">
            {% csrf_token %}
            <button>
                <i class="material-icons">delete_outline</i>
            </button>
        </form>
    </div>


    {% endfor %}

</div>
{% endblock %}