{% extends 'base.html' %}

{% load tz %}

{% block header_class %}
header animate__animated animate__slideInDown
{% endblock %}

{% block header_text %}
{{ list.name | title }}
{% endblock %}

{% block content %}

<!-- Display form -->
<div class="input-form">
    <form action="{% url 'list_detail' list.slug %}" method="post" id="todo-form" data-id="{{ list.id }}">
        {{ form.text }}
        {% csrf_token %}
    </form>
</div>

{% endblock %}


{% block table %}

<div class="todo-list">
    {% for item in list.item_set.all %}
    <div class="todo-item animate__animated animate__fadeIn">
        {{ item.text }}<br />
        {% timezone "Asia/Singapore" %}
        <span class="todo-timestamp">
            {{ item.timestamp|time:"P" }} | {{ item.timestamp|date:"d M" }}
        </span>
        {% endtimezone %}

        <!-- form to delete todo item -->
        <form method="post" action="{% url 'delete_todo' item.id %}" data-id="{{ item.id }}" class="delete-button">
            {% csrf_token %}
            <button>
                <i class="material-icons">delete_outline</i>
            </button>
        </form>
    </div>
    {% endfor %}
</div>

<br />
<br />

{% endblock %}