@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

@import "./modal.css";
@import "./navbar.css";
@import "./about.css";
@import "./list.css";
@import "./auth.css";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Asap', sans-serif;
    background: #121212;
} 

.header {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 22px;
    color: #fff;
}

.legal {
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    line-height: 35px;
    color: #fff;
}

.legal h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.legal h2 {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.http-404-error {
    text-align: center;
    margin-top: 40px;
}

@media (min-width:468px) {

    .header {
        font-size: 38px;
    }

    .legal {
        width: 50%;
    }

}