.header {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 22px;
    color: #fff;
}

/* input textbox */

.input-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;    
 }

input[id='id_name'], input[id='id_text'] {
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    font-size: 20px;
    color: #fff;
}

input[id='id_name']:focus, input[id='id_text']:focus {
    transition: transform 0.5s ease;
    transform: scale(1.2);
}

input[id='id_name']::-webkit-input-placeholder, input[id='id_text']::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
    /* font-style: italic; */
    font-size: 15px;
}

input[id='id_name']::-moz-placeholder, input[id='id_text']::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
    /* font-style: italic; */
    font-size: 15px;
}


input[id='id_name']:-ms-placeholder, input[id='id_text']:-ms-placeholder { /* IE 10+ */
    color: #fff;
    /* font-style: italic; */
    font-size: 15px;
}

input[id='id_name']:-moz-placeholder, input[id='id_text']:-moz-placeholder { /* Firefox 18- */
    color: #fff;
    /* font-style: italic; */
    font-size: 15px;
}



/* errors and warning text */

/* django built-in errorlist */
.errorlist  {
    list-style: none;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
    color: red;
}

.list-name-error-msg {
    color: #DC143C;
    font-size: 15px;
    text-align: center;
    display: none;
}

.list-name-success-msg {
    color: green;
    font-size: 15px;
    text-align: center;
    display: none;
}

.item-error-msg {
    background-color: #F08080;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    display: none;
}


/* todo item card */


.item {
    background: #343536;
    border-radius: 10px;
    border: 1px solid #343536;
    padding: 18px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 15px;
    color: #fff;
}

.item:hover {
    /* border-left: 10px solid #9400D3; */
    border: 1px solid #edeeef;
}

.item a {
    /* color: #FFFF99; */
    color: rgb(62, 166, 255);
}

.delete-item-btn {
    float: right;
    opacity: 0.5;
    cursor: pointer;
    position: relative;
    top: 5px;
    left: 3px;
}

.delete-item-btn:hover {
    opacity: 1.5
}

.item-timestamp {
    font-size: 12px;
    color:#A9A9A9;
    position: relative;
    top: 5px;
}



/* user list detail page */

.user-list-item {
    background: #202020;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 20px;
    color: white;
    border: 1px solid #474748;
    border-radius: 5px;
}

.user-list-item:hover {
    border: 1px solid #edeeef
}


.edit-list-btn, .delete-list-btn {
    float: right;
    position: relative;
    top: -20px;
    cursor: pointer;
    opacity: 0.3;
}


.edit-list-btn:hover, .delete-list-btn:hover {
    opacity: 1;
}

.pagination {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #fff;

}

.pagination a {
    display: inline-block;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a:hover {
    background-color: indigo;
    border-radius: 5px;
}

.current {
    margin-top: 10px;
    display: block;
}   

@media (min-width:468px) {

    .header {
        font-size: 38px;
    }
   
    input[id='id_name']:focus, input[id='id_text']:focus {
        transform: scale(1.4);
    }

    .item-error-msg {
        width: 30%;
    }

    .item {
        width: 50%;
        font-size: 19px;
    }

    .user-list-item {
        width: 40%;
    }
}





