.modal {
    width: 100%;
    background: indigo;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 20px;
    font-size: 15px;
    display: none;
}

.modal span {
	position: relative;
	float: right;
	font-size: 30px;
	cursor: pointer;
	top: -50px;
	right: -20px;
}

.modal-active {
    display: block;
}


@media (min-width:468px) {

    .modal {
        font-size: 20px;
    }

    .modal span {
        float: right;
        top: -9px;
        right: 0px;
    }
    
}