.logo {
    font-size: 15px;
    font-family: 'Handlee', cursive;
    margin-left: 20px;
}

.logo a {
    color: #fff;
    text-decoration: none;
}

.logo a:hover {
    color: rgb(160, 78, 219);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 12vh;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 35%;
    margin-left: auto;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
}

.nav-links a:hover {
    color: rgb(160, 78, 219);  
}

.nav-links a:after {
    display: block;
    content: '';
    border-bottom: solid 3px rgb(160, 78, 219);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.nav-links a:hover:after { 
    transform: scaleX(1); 
}

@media (max-width:768px) {

    .logo {
        position: absolute;
        left: 2px;
    }

    .burger {
        position: absolute;
        right: 20px;
        z-index: 2;
        cursor: pointer;
    }

    .burger div {
        width: 30px;
        height: 3px;
        background-color: #fff;
        margin: 5px;
        transition: all 0.5s ease;
    }

    .nav-links {
        position: absolute;
        top: 0vh;
        right: 0px;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: indigo;
        z-index: 1;
        display: none;
        transition: all 0.5s;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links a {
        font-size: 28px;
    }

    .nav-links a:hover {
        color: #fff;  
    }

    .nav-links a:after {
        border-bottom: solid 3px #fff;  
    }

}

.nav-active {
    display: flex;
    /* transform: translateX(0%) */
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX90px;
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}