.logo {
    font-size: 15px;
    font-family: 'Handlee', cursive;
    padding: 15px;
}

.logo a {
    color: #fff;
    text-decoration: none;
}

.logo a:hover {
    color: rgb(160, 78, 219);
}


nav {
    height: 10vh;
    display: flex;
}

.nav-links {
    display: flex;
    list-style: none;
    width: 30%;
    height: 120%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
}

.nav-links li a:hover {
    color: rgb(160, 78, 219);  
    /* transition: .9s; */
}

.nav-links li a:after {
    display: block;
    content: '';
    border-bottom: solid 3px rgb(160, 78, 219);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.nav-links li a:hover:after { 
    transform: scaleX(1); 
}

@media (max-width:768px) {

    .line {
        width: 30px;
        height: 3px;
        background-color: #fff;
        margin: 5px;
    }

    nav {
        position: relative;
    }

    .burger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 36%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }
    
    .nav-links {
        position: fixed;
        height: 100vh;
        background: rgb(160, 78, 219);
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        clip-path: circle(100px at 90% -30%);
        -webkit-clip-path: circle(100px at 90% -30%);
        transition: all 0.5s ease-out;
        pointer-events: none;
        z-index: 1;
    }

    .nav-links.open {
        clip-path: circle(1200px at 90% -20%);
        -webkit-clip-path: circle(1200px at 90% -20%);
        pointer-events: all;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links li a {
        font-size: 30px;
    }

    .nav-links li a:hover {
        color: #fff;
    }

    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    .nav-links li:nth-child(4) {
        transition: all 0.5s ease 0.8s;
    }

    li.fade {
        opacity: 1;
    }



}