.logo {
    font-size: 40px;
    font-family: 'Amatic SC', cursive;
    margin-left: 10px;
}

.logo a {
    color: black;
    text-decoration: none;
}

nav {
    height: 10vh;
    display: flex;
    
}

.nav-links {
    display: flex;
    list-style: none;
    width: 25%;
    height: 120%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
}


@media (max-width:768px) {

    .line {
        width: 30px;
        height: 3px;
        background-color: #fff;
        margin: 5px;
    }

    nav {
        position: relative;
    }

    .burger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }
    
    .nav-links {
        position: fixed;
        height: 100vh;
        background: radial-gradient(circle, rgba(238,174,202,1) 60%, rgba(148,187,233,1) 100%);
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        clip-path: circle(100px at 90% -20%);
        -webkit-clip-path: circle(100px at 90% -20%);
        transition: all 0.5s ease-out;
        pointer-events: none;
        z-index: 1;
    }

    .nav-links.open {
        clip-path: circle(1200px at 90% -20%);
        -webkit-clip-path: circle(1200px at 90% -20%);
        pointer-events: all;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links li a {
        font-size: 30px;
    }

    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    li.fade {
        opacity: 1;
    }



}