<div class="auth-container">

    <div class="auth-header">
        <h1>Welcome Back!</h1>
    </div>

    <div class="auth-form-container">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
        
            <button class="auth-button">{{ login_button|default:'Login' }}</button>
            <p class="auth-btm-text">
                Don't have an account?
                <a href="{% url 'user_create' %}">Sign Up</a><br/><br/>
                <a href="{% url 'password_reset' %}">Forgot Password?</a>
            </p>
            
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}">
            {% endif %}
        
            
        </form>
    </div>
</div>