Hi {{ email }},

We received a request to reset the password associated with this email address. 

Please click the link below to continue.

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If you did not request this, please ignore this email. 
Your password won't change until you access the link above and create a new one. 

Please do not reply to this email with your password. 
We will never ask for your password, and we strongly discourage you from sharing it with anyone.

The SimpleList Team