{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- GA global site tag -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164061169-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-164061169-2');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <!-- Primary Meta Tags -->
    <title>SimpleList: your minimalistic general list</title>
    <meta name="title" content="SimpleList: your minimalistic general list">
    <meta name="description" content="
        Create a new list in seconds. 
        And sign up to save and access your lists in one place. 
        SimpleList has never been easier.
    ">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://simplelist.sebbycake.com/">
    <meta property="og:title" content="SimpleList: your minimalistic general list">
    <meta property="og:description" content="
        Create a new list in seconds. 
        And sign up to save and access your lists in one place. 
        SimpleList has never been easier.
    ">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="http://simplelist.sebbycake.com/">
    <meta property="twitter:title" content="SimpleList: your minimalistic general list">
    <meta property="twitter:description" content="
        Create a new list in seconds. 
        And sign up to save and access your lists in one place. 
        SimpleList has never been easier.
    ">
    

    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

    <!-- display navbar -->
    <nav>

        <div class="logo">
            <h1><a href="{% url 'home' %}">SimpleList</a></h1>
        </div>

        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>

        <ul class="nav-links">
            {% if not user.is_authenticated %}
            <li>
                <a href="{% url 'login' %}">Login</a>
            </li>
            <li>
                <a href="{% url 'user_create' %}">Sign Up</a>
            </li>
            {% endif %}
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'user_list_detail' %}">My Lists</a>
            </li>
            <li>
                <a href="{% url 'logout' %}">Log Out</a>
            </li>
            <li>
                <a href="{% url 'password_change' %}">Change PW</a>
            </li>
            {% endif %}
            <li>
                <a href="{% url 'about' %}">About</a>
            </li>
        </ul>

    </nav>

    {% block modal %}
    {% endblock %}

    <div class="{% block header_class %}{% endblock %}">
        <h1>{% block header_text %}{% endblock %}</h1>
    </div>

    <!-- display main content of each page -->
    {% block content %}
    {% endblock %}

    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/utility.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/list.js' %}"></script>

    <script>
        $(document).ready(function () {
            window.Superlists.initialize();
        });
    </script>

</body>

</html>