{% extends 'base.html' %}

{% load static %}

{% block modal %}
{% if not user.is_authenticated %}
<div class="modal">
    Create an account to save and access your lists in one place!
    <span id="modal-close">&times;</span>
</div>
{% endif %}
{% endblock %}

{% block header_class %}
header animate__animated animate__bounceInDown
{% endblock %}

{% block header_text %}
Start a New List
{% endblock %}

{% block content %}

<!-- Display form -->
<div class="input-form animate__animated animate__zoomIn">
    <form action="{% url 'new_list' %}" method="post" id="list-create-form" user-id="{{ user.id }}">
        {{ form.name }}
        {% csrf_token %}
    </form>   
</div>

<div class="fail-error-msg">
    A list with this name already exists.
</div> 

<div class="success-error-msg">
    A list with this name is available.
</div> 

<script src="{% static 'js/modal.js' %}"></script>

{% endblock %}
