{% extends 'base.html' %}

{% load tz %}
{% load list_extras %}

{% block title %}
{{ list.name }}
{% endblock %}

{% block content %}

{% if user_exists %}
<button class="share-list-btn">Share</button>
{% endif %}

<div class="header">
    <h1>{{ list.name }}</h1>
</div>

<!-- display error message -->
<div class="item-error-msg" role="alert">
</div>

<!-- display form -->
{% if non_user_exists or user_exists or shared_user_exists %}
<div class="input-form">
    <form method="post" id="item-create-form" data-id="{{ list.id }}">
        {{ form.text }}
        {% csrf_token %}
    </form>
</div>
{% endif %}

<!-- display all items from this list -->
<div class="item-list">

    {% for item in list.item_set.all %}
    <div class="item animate__animated animate__fadeIn" 
    style="{% if item.color %}background-color:{{ item.color }}{% endif %}"
    >
    
        <!-- display text, and converts URLs and email addresses in text (if any) into clickable links -->
        <div>
            {{ item.text|urlize }}</br>
        </div>

        <!-- display item timestamp -->
        {% timezone "Asia/Singapore" %}
        <span class="item-timestamp">
            <!-- {{ item.timestamp|time:"P" }} | {{ item.timestamp|date:"d M" }} -->
            {{ item.timestamp|timesince|upto:',' }} ago
        </span>
        {% endtimezone %}

        <!-- buttons to pin, update and delete item -->
        {% if non_user_exists or user_exists or shared_user_exists %}
        <span class="delete-item-btn" data-id="{{ item.id }}">
            <i class="material-icons" style="color:#fff">delete_outline</i>
        </span>
        <span class="edit-item-btn" data-id="{{ item.id }}">
            <i class="fa fa-edit" style="font-size:24px; color:white; margin-left:4px"></i>
        </span>
        <span class="pin-item-btn" data-id="{{ item.id }}">
            <i class="material-icons"
                style="{% if item.is_pinned %}color:#ff1f5a{% else %}color:#fff{% endif %}">push_pin</i>
        </span>
        <span class="palette-item-btn">
            <i class="material-icons" style="color:#fff">palette</i>
        </span>
        <div class="palette-tooltip" data-id="{{ item.id }}">
            <div class="tooltip-color tooltip-red">i</div>
            <div class="tooltip-color tooltip-green">i</div>
            <div class="tooltip-color tooltip-blue">i</div>
            <div class="tooltip-color tooltip-purple">i</div>
            <div class="tooltip-color tooltip-original">i</div>
        </div>
        {% endif %}

    </div>
    {% endfor %}

</div>

<!-- display pop-up modal to add users to edit the list -->
<div class="share-list-modal">

    <div class="share-list-modal-inner-container">
        <h1>Share with people</h1>
        <span class="share-list-modal-close">&times;</span>

        <!-- display error message -->
        <div class="item-error-msg-share-list" role="alert">
        </div>

        <!-- display form to add users -->
        <form class="share-list-email-form" data-id="{{ list.id }}">
            <input type="email" id="share-list-email-input" placeholder="Add people using email">
        </form>
    </div>

    <!-- display owner and list of shared users -->
    <div class="share-list-user-item">
        {{ list.user.email }} (you)
        <span class="list-owner">owner</span>
    </div>
    <div class="share-list-user-list">
        {% for shared_user in list.shared_users.all %}
        <div class="share-list-user-item">
            {{ shared_user.email }}
            <span class="list-owner">shared</span>
            <span class="delete-shared-user" user-id="{{ shared_user.id }}">&times;</span>
        </div>
        {% endfor %}
    </div><br />

</div>

<br />

{% endblock %}