{% extends 'base.html' %}

{% block title %}
shared with you 
{% endblock %}

{% block content %}

<div class="list-nav">
    <a href="{% url 'user_list_detail' %}">My Lists</a>
    <a href="#" class="list-nav-active">Shared With Me</a>
</div>

<!-- display all user lists -->
{% if page_obj|length > 0 %}

{% for list in page_obj %}
<div class="user-list-item">
    <p>{{ list.name }}</p>

    <!-- edit list button -->
    <span class="edit-list-btn">
        <a href="{{ list.get_absolute_url }}">
            <i class="material-icons" style="color:#fff">create</i>
        </a>
    </span>
</div>
{% endfor %}

<!-- display error message if user has no lists -->
{% else %}
<br />
<div align="center" style="color:#fff">
    <h1>Nothing shared yet</h1><br />
    <p>When someone shares with you, you can access those lists here.</p>
</div>
{% endif %}

<!-- only show pagination if there is more than 1 page -->
{% if page_range|length > 1 %}
<div class="pagination">

    {% for page_num in page_range %}
        <a href="?page={{ page_num }}">
            {{ page_num }}
        </a>
    {% endfor %}

    <span class="current">
        Page {{ page_obj.number }}
    </span>

</div>
{% endif %}


{% endblock %}