{% extends 'base.html' %}

{% block content %}

<div class="user-list-header">
    <h1>Your Lists</h1>
</div>

{% if lists|length > 0 %}

{% for list in lists %}
<div class="user-list-item">
    <p>{{ list.name }}</p>
    <span class="delete-list-item" list-id="{{ list.id }}">
        <i class="material-icons" style="color:white">delete</i>
    </span>
    <span class="edit-list-item">
        <a href="{{ list.get_absolute_url }}">
            <i class="material-icons" style="color: white">create</i>
        </a>
    </span>
        
</div>
{% endfor %}

{% else %}

<br/>
<div align="center">
    <h1>Ops... You have no lists currently.</h1><br />
    <p>
        Starting creating one <a href="{% url 'home' %}" style="text-decoration: none">here</a>.
    </p>
</div>

{% endif %}

{% endblock %}